.about {
  outline: 2px solid green;

  @include container();
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: $bg-color-main;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  @include desktop {
    padding-bottom: 85px;
  }
}

.about__header {
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-left: 175px;
    margin-bottom: 40px;
  }
}

.about__list {
  @include reset-list();

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @include desktop {
    margin-left: 175px;
    margin-right: 175px;
  }
}

.about__item {
  outline: 2px solid red;
  padding-top: 85px;
  color: $color-black;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 29px;

  @include tablet {
    margin-bottom: 58px;
  }

  &:nth-child(2n+1) {
    @include tablet {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    width: 334px;
  }

  @include desktop {
    width: 350px;
  }

  &--eco {
    background-image: url("../../img/icon-feature-flower.svg");
    background-size: 32px 37px;
  }

  &--style {
    background-image: url("../../img/icon-feature-money.svg");
    background-size: 47px 27px;
  }

  &--like {
    background-image: url("../../img/icon-feature-heart.svg");
    background-size: 34px 27px;
  }

  &--knit {
    background-image: url("../../img/icon-feature-ball.svg");
    background-size: 35px 34px;
  }

  &--support {
    background-image: url("../../img/icon-feature-rocket.svg");
    background-size: 55px 23px;
  }

  &--box {
    background-image: url("../../img/icon-feature-gift.svg");
    background-size: 33px 32px;
  }
}
