.button {
  display: block;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: $color-main;
  text-transform: uppercase;

  background-color: $bg-color-main;
  border: 2px solid $color-main;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-white;

    background-color: $color-main;
  }

  &:active {
    color: rgba($color-white, 0.3);

    background-color: $color-main;
  }
}
