.button {
  cursor: pointer;
  border: 2px solid #444444;
  background-color: #ffffff;
  color: #444444;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    background-color: #444444;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
