.comments {
  padding-top: 4px;
  padding-bottom: 50px;

  background-color: $bg-color-main;
  outline: 2px solid blue;

  @include container-mobile();

  @include tablet {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  @include desktop {
    padding-bottom: 125px;
  }
}

.comments__wrapper {
  @include container-tablet();
  @include container-desktop();
}

.comments__header {
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 55px;
  }
}

.comments__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  @include tablet {
    margin-bottom: 0;
  }
}

.comments__text {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $color-main;
}

.comments__author-name {
  display: block;
  margin-bottom: 5px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  color: $color-black;
}

.comments__author-link {
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: $color-main;
}

.comments__controls {
  height: 50px;
  margin-bottom: 35px;

  font-size: 0;

  background-color: $bg-color-main;
  border: 1px solid #ececec;
}

.comments__button {
  display: inline-block;
  width: 129px;
  height: 50px;
  margin: 0;
  padding: 0;

  background-color: $bg-color-main;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.comments__write {
  padding-top: 14px;
  padding-bottom: 15px;
  font-size: 18px;
}
