.comments {
  position: relative;
  padding-bottom: 50px;

  background-color: $bg-color-main;

  @include container-mobile();

  @include tablet {
    padding-top: 77px;
    padding-bottom: 0;
  }

  @include tablet-only {
    background-image: url("../img/review@1x.jpg");
    background-size: 350px auto;
    background-repeat: no-repeat;
    background-position: 0 0;

    @include retina {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 0;
  }

  &::after {
    @include mobile-only {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 6px;
      background-image: url("../../img/bg-zigzag-line.svg");
      background-size: contain;
    }
  }
}

.comments__wrapper {
  @include container-tablet();
  @include container-desktop();

  @include tablet {
    position: relative;
    padding-bottom: 127px;
  }

  @include desktop {
    padding-top: 70px;
    padding-bottom: 175px;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;
    background-position: $desktop-padding 0;

    @include retina {
      background-image: url("../img/review@2x.jpg");
    }
  }

  &::after {
    @include tablet {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      background-image: url("../../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: 768px 17px;
      background-position: 13px 0;
      height: 17px;
    }

    @include desktop {
      bottom: -10px;
      height: 23px;
      left: 50px;
      right: 50px;
      background-position: 25px top;
      background-size: contain;
    }
  }
}

.comments__header {
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 50px;
    margin-left: -3px;
  }

  @include desktop {
    margin-left: 172px;
  }
}

.comments__list {
  @include desktop {
    margin-left: 175px;
  }
}

.comments__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  @include tablet {
    margin-bottom: 0;
  }
}

.comments__text {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $color-main;

  @include tablet {
    font-size: 17px;
    padding-right: 20px;
    margin-bottom: 58px;
  }

  @include desktop {
    padding-right: 105px;
    margin-bottom: 40px;
  }
}

.comments__author-name {
  display: block;
  margin-bottom: 2px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  color: $color-black;

  @include tablet {
    font-size: 18px;
    margin-bottom: 3px;
  }

  @include desktop {
    font-size: 17px;
    margin-bottom: 3px;
  }
}

.comments__author-link {
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: $color-main;
}

.comments__controls {
  height: 50px;
  margin-bottom: 38px;

  font-size: 0;

  background-color: transparent;
  border: 1px solid #ececec;

  @include tablet {
    position: absolute;
    right: $tablet-padding;
    bottom: 130px;
    border-color: transparent;
    margin-bottom: 0;
  }

  @include desktop {
    bottom: 179px;
  }
}

.comments__button {
  display: inline-block;
  width: 129px;
  height: 50px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  @include tablet {
    width: 87px;
  }
}

.comments__write {
  padding-top: 13px;
  padding-bottom: 15px;
  font-size: 18px;

  @include tablet {
    font-size: 17px;
    position: absolute;
    top: 2px;
    right: $tablet-padding;
    padding-left: 35px;
    padding-right: 40px;
    padding-top: 15px;
  }

  @include desktop {
    top: 77px;
  }
}
