.contacts {
  padding-top: 40px;
  padding-bottom: 40px;
  /* Временно для сетки */
  background-color: transparent;

  @include container-desktop();

  @media (min-width: $tablet-breakpoint) {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-top: 75px;
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 457px;
    align-content: space-between;
  }
}

.contacts__header {
  color: $color-black;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  padding: 0;

  @include container-mobile();
  @include container-tablet();
  margin-bottom: 25px;
  /* Временно для сетки */
  min-height: 35px;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 45px;
    /* Временно для сетки */
    min-height: 45px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-left: 175px;
    margin-top: 60px;
    width: 320px;
    margin-bottom: 30px;
    /* Временно для сетки */
    min-height: 90px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  color: $color-main;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;

  @include container-mobile();
  @include container-tablet();
  margin-bottom: 30px;
  /* Временно для сетки */
  min-height: 180px;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 60px;
    /* Временно для сетки */
    min-height: 90px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 320px;
    margin-left: 175px;
    margin-bottom: auto;
    /* Временно для сетки */
    min-height: 150px;
  }
}

.contacts__property {
  margin: 0;
  padding: 0;
}

.contacts__value {
  margin: 0;
  padding: 0;
}

.contacts__email {
  color: $color-main;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #62d1ba;
    bottom: -5px;
    left: 0;
    right: 0;
  }

  &:hover,
  &:focus,
  &:active {
    color: #46c1ae;

    &::before {
      background-color: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      opacity: 0.1;
    }
  }
}

.contacts__map {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  /* Временно для сетки */
  min-height: 457px;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 525px;
    order: 2;
    margin-bottom: 55px;
  }
}

.contacts__write {
  width: $mobile-width;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  /* Временно для сетки */
  min-height: 52px;
  background-color: transparent;

  @media (min-width: $tablet-breakpoint) {
    width: 230px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-left: 175px;
    width: 230px;
  }
}
