.copyright {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.copyright__link {
  color: #000000;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}
