.copyright {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.copyright__link {
  color: #000000;
  text-decoration: none;
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
