.heading {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }
}
