.intro {
  outline: 2px solid blue;

  padding-top: 70px;
  font-weight: bold;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-width: $tablet-breakpoint) {
    padding-top: 150px;
  }
}

.intro__wrapper {
  @include container-tablet();
  @include container-desktop();
}

.intro__header {
  @include container-mobile();
  color: #010000;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 115px;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 365px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: 345px;
  }
}

.intro__list {
  outline: 2px solid red;

  @include reset-list();

  @media (min-width: $tablet-breakpoint) {
    display: flex;
  }
}

.intro__link {
  display: block;
  background-color: $color-green;
  color: $color-white;
  font-size: 20px;
  line-height: 30px;
  /* Временно для сетки */
  min-height: 103px;

  @media (min-width: $tablet-breakpoint) {
    /* Временно для сетки */
    min-height: 120px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: #59d5bc;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }
}

.intro__item {
  /* Временно для сетки */
  min-height: 103px;

  @media (min-width: $tablet-breakpoint) {
    width: 334px;
    /* Временно для сетки */
    min-height: 120px;
  }

  @media (min-width: $tablet-breakpoint) {
    width: 525px;
  }

  &--different {
    .intro__link {
      background-color: #56c3b2;

      &:hover,
      &:focus,
      &:active {
        background-color: #46c1ae;
      }
    }
  }
}
