.intro {
  padding-top: 70px;
  font-weight: bold;
  /* Временно для сетки
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg"); */
  /* Временно для сетки */
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
}

.intro__header {
  @include container-mobile();
  color: #010000;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 115px;
  text-align: center;
  /* Временно для сетки */
  min-height: 90px;
}

.intro__list {
  @include reset-list();
  /* Временно для сетки */
  min-height: 205px;
}

.intro__link {
  display: block;
  background-color: $color-green;
  color: $color-white;
  font-size: 20px;
  line-height: 30px;

  &:hover,
  &:focus,
  &:active {
    background-color: #59d5bc;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }
}

.intro__item {
  &--different {
    .intro__link {
      background-color: #56c3b2;

      &:hover,
      &:focus,
      &:active {
        background-color: #46c1ae;
      }
    }
  }
}
