.logo {
  display: block;
  /* Временно для сетки */
  min-height: 80px;

  @media (min-width: $tablet-breakpoint) {
    /* Временно для сетки */
    min-height: 90px;
  }

  @media (min-width: $tablet-breakpoint) {
    /* Временно для сетки */
    min-height: 90px;
    height: 90px;
  }
}

.logo[href] {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
