.logo {
  display: block;

  @include mobile-only {
    position: relative;
  }

  &::after {
    @include mobile-only {
      content: "";
      position: absolute;
      background-color: transparent;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      bottom: 0;
      box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
    }
  }
}

.logo[href] {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__image {
  display: block;
  width: 86px;
  height: 35px;
  margin: auto;

  @include tablet {
    width: 113px;
    height: 46px;
    margin-left: 0;
  }

  @include desktop {
    width: 149px;
    height: 72px;
  }
}
