.menu-list__link {
  color: $color-black;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.menu-list__item {
  &--desktop {
    display: none;

    @include desktop {
      display: block;
    }
  }
}
