.navigation {
  outline: 2px solid pink;

  @include container();

  @media (min-width: $tablet-breakpoint) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-breakpoint) {
    flex-wrap: no-wrap;
  }
}

.navigation__wrapper {
  @media (min-width: $tablet-breakpoint) {
    width: 320px;
    margin-right: auto;
  }

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    width: 600px;
  }
}

.navigation__logo {
  outline: 2px solid blue;

  @media (min-width: $tablet-breakpoint) {
    width: 113px;
    /* Временно для сетки */
    min-height: 90px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 149px;
    order: 2;
    /* Временно для сетки */
    min-height: 90px;
  }
}

.navigation__menu {
  @include reset-list();
  outline: 2px solid red;

  @media (min-width: $desktop-breakpoint) {
    width: 450px;
  }
}

.navigation__user-block {
  @include reset-list();
  outline: 2px solid green;

  @media (min-width: $tablet-breakpoint) {
    width: 347px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 350px;
  }
}
