.navigation {
  @include container();
  /* Временно для сетки */
  background-color: transparent;

  @media (min-width: $tablet-breakpoint) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-breakpoint) {
    flex-wrap: no-wrap;
  }
}

.navigation__wrapper {
  @media (min-width: $tablet-breakpoint) {
    width: 320px;
    margin-right: auto;
  }

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    width: 600px;
  }
}

.navigation__logo {
  /* Временно для сетки */
  min-height: 80px;

  @media (min-width: $tablet-breakpoint) {
    width: 113px;
    /* Временно для сетки */
  min-height: 90px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 149px;
    order: 2;
    /* Временно для сетки */
  min-height: 90px;
  height: 90px;
  }
}

.navigation__menu {
  @include reset-list();

  @media (min-width: $desktop-breakpoint) {
    width: 450px;
  }
}

.navigation__user-block {
  @include reset-list();

  @media (min-width: $tablet-breakpoint) {
    width: 347px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 350px;
  }
}
