.page-header {
  // background-color: $bg-color-main;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  /* Временно для сетки */
  min-height: 395px;

  @media (min-width: $tablet-breakpoint) {
    min-height: 90px;
    height: 90px;
    margin-bottom: 100px;
  }
}
