.page-main {
  border-bottom: 1px solid transparent;
}

.page-main__heading {
  outline: 2px solid red;
  font-size: 27px;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 75px;
  background-color: $bg-color-gray;
  margin-bottom: 28px;

  @media (min-width: $tablet-breakpoint) {
    padding-top: 100px;
    padding-bottom: 80px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-bottom: 100px;
    margin-bottom: 125px;
  }

  &--form {
    color: #231f20;
  }
}

.page-main__heading-wrapper {
  display: block;
  outline: 2px solid red;

  @include container();
}

.page-main__goods {
  outline: 2px solid red;

  @include reset-list();
  @include container();
  margin-bottom: 30px;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }
}

.page-main__intro {
  color: $color-main;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  padding: 0;

  @include container();
  margin-bottom: 20px;
}

.page-main__form {
  outline: 2px solid green;

  @include container-mobile();
  margin-bottom: 55px;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 50px;
  }
}

.page-main__production {
  @include container();
  margin-bottom: 55px;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: 105px;
  }
}
