.page-footer {
  background-color: $bg-color-gray;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  @include tablet {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.page-footer__wrapper {
  @include container();

  @include tablet {
    display: flex;
  }
}

.page-footer__logo {
  display: none;

  @include tablet {
    display: block;
    width: 102px;
    margin-right: 155px;
  }

  @include tablet {
    margin-right: 345px;
  }
}

.page-footer__social {
  @include reset-list();

  @include tablet {
    width: 150px;
  }
}

.page-footer__copyright {
  margin: 0;
  padding: 0;

  @include tablet {
    width: 182px;
    margin-left: auto;
  }
}
