.production {
  outline: 2px solid red;
  background-color: $bg-color-main;
}

.production__wrapper {
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__header {
  margin: 0;
  padding: 0;
  color: $color-black;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.production__video-container {
  background-color: #bebdc2;
  background-image: url("../img/video-mobile@1x.jpg");
  width: 260px;
  height: 150px;
}

.production__text {
  margin: 0;
  padding: 0;
  color: $color-main;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
}
