.user-block {
  @include tablet {
    min-height: 150px;
  }
}

.user-block__item {
  @include mobile-only {
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  }

  &--delivery {
    display: none;

    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: $color-main;

    @include tablet {
      display: block;
    }
  }
}

.user-block__link {
  display: block;
  color: $color-black;

  @include mobile-only {
    width: $mobile-width - 2 * $mobile-padding - 46px;
    padding-left: $mobile-padding + 46px;
    padding-right: $mobile-padding;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    svg {
      position: absolute;
      left: $mobile-padding;
      bottom: 30px;
    }
  }

  &:hover,
  &:focus {
    .user-block__link-text {
      opacity: 0.6;
    }

    svg {
      fill: $color-green;
      opacity: 1;
    }
  }

  &:active {
    .user-block__link-text {
      opacity: 0.3;
    }

    svg {
      fill: $color-green;
      opacity: 0.3;
    }
  }

  svg {
    fill: $color-black;
    opacity: 0.2;
  }

  &--search {
    .user-block__link-text {
      @include tablet {
        display: none;
      }
    }
  }
}
