.week {
  @include container-mobile();
  display: flex;
  flex-direction: column;
  // background-color: $bg-color-main;
  background-color: transparent;
  color: $color-main;
  padding-top: 30px;
  padding-bottom: 30px;
}

.week__header {
  color: $color-green;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  /* Временно для сетки */
  min-height: 25px;
}

.week__title {
  order: -1;
  /* Временно для сетки */
  min-height: 35px;
}

.week__description {
  color: $color-main;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  /* Временно для сетки */
  min-height: 70px;
}

.week__table {
  color: $color-main;
  margin-bottom: 30px;
  /* Временно для сетки */
  min-height: 110px;

  td,
  th {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
  }
}

.week__image {
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 315px;
}

.week__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  /* Временно для сетки */
  min-height: 75px;
}

.week__order {
  /* Временно для сетки */
  min-height: 50px;
  background-color: transparent;
}
