.week {
  @include container();
  // background-color: $bg-color-main;
  background-color: transparent;
  color: $color-main;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-breakpoint) {
    padding-top: 50px;
    padding-bottom: 65px;
  }
}

.week__header-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
    margin-bottom: 50px;
  }
}

.week__header {
  color: $color-green;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 25px;

  @media (min-width: $tablet-breakpoint) {
    width: 130px;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.week__title {
  order: -1;
  /* Временно для сетки */
  min-height: 30px;

  @media (min-width: $tablet-breakpoint) {
    flex-grow: 1;
    /* Временно для сетки */
    min-height: 50px;
  }
}

.week__wrapper {
  @media (min-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    height: 405px;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

.week__description {
  color: $color-main;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  /* Временно для сетки */
  min-height: 70px;

  @media (min-width: $tablet-breakpoint) {
    width: 292px;
    margin-bottom: 40px;
    /* Временно для сетки */
    min-height: 85px;
  }
}

.week__table {
  width: 100%;
  color: $color-main;
  margin-bottom: 30px;
  /* Временно для сетки */
  min-height: 110px;

  @media (min-width: $tablet-breakpoint) {
    width: 292px;
    margin-bottom: 35px;
  }

  td,
  th {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
  }
}

.week__image {
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 315px;

  @media (min-width: $tablet-breakpoint) {
    order: 2;
    width: 334px;
    height: 405px;
  }
}

.week__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  /* Временно для сетки */
  min-height: 75px;

  @media (min-width: $tablet-breakpoint) {
    width: 292px;
    margin-bottom: auto;
  }
}

.week__order {
  /* Временно для сетки */
  min-height: 52px;
  background-color: transparent;

  @media (min-width: $tablet-breakpoint) {
    width: 292px;
  }
}
