.body {
  font-family: $font-family;
  background-color: $bg-color-main;
  color: $color-main;
  font-size: $font-size-main;
  line-height: $line-height-main;
  font-weight: normal;
  min-width: $mobile-width + 2 * $mobile-padding;
}
