.body {
  font-family: $font-family;
  background-color: $bg-color-main;
  color: $color-main;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: normal;
  min-width: $mobile-width;
}
