body {
  // background-image: url("../img/preview/mishka-index-mobile.png");
  background-image: url("../img/preview/mishka-catalog-mobile.png");
  /* background-image: url("../img/preview/mishka-form-mobile.jpg"); */
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 750px;
}

/* Обводки */
body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before {
  content: "."attr(class);

  position: absolute;
  top: 2px;
  left: 2px;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monospace;
  white-space: nowrap;
}

body > * {
  background: rgba(128, 255, 128, 0.25);
  background-clip: content-box;
  outline: 3px solid green;
  outline-offset: -3px;
}

body > *::before {
  color: white;
  background: rgba(green, 0.4);
  right: 0;
  left: auto;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  background-clip: content-box;
  outline: 3px solid rgba(255, 45, 82, 0.9);
  outline-offset: -3px;
}

body > * > *::before {
  color: white;
  background: rgba(255, 45, 82, 0.4);
}

body > * > * > * {
  background: rgba(173, 216, 230, 0.2);
  background-clip: content-box;
  outline: 3px solid rgba(173, 216, 230, 0.9);
  outline-offset: -3px;
}

body > * > * > *::before {
  color: black;
  background: rgba(0, 0, 255, 0.2);
}

body > * > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  background-clip: content-box;
  outline: 3px solid rgba(234, 255, 45, 0.9);
  outline-offset: -3px;
}

body > * > * > * > *::before {
  color: black;
  background: rgba(234, 255, 45, 0.4);
}

body > * > * > * > * > * {
  outline: 3px solid violet;
  outline-offset: -3px;
}

body > * > * > * > * > *::before {
  color: black;
  background: rgba(violet, 0.4);
}

.navigation > *::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.intro__header::before,
.intro__list::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.week__header::before,
.week__title::before,
.about__header::before,
.about__list::before,
.comments__header::before,
.contacts__header::before,
.page-footer__social::before,
.page-footer__copyright::before {
  display: none;
}

.week__description::before,
.week__image::before,
.week__table::before,
.week__order::before,
.week__price::before,
.comments__item::before,
.comments__controls::before,
.comments__write::before,
.about__item::before,
.contacts__list::before,
.contacts__write::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  text-transform: lowercase;
}
