$color-main: #444444;
$color-black: #000000;
$color-green: #63d1bb;
$color-white: #ffffff;

$bg-color-main: $color-white;
$bg-color-gray: #f1f1f1;

$font-family: "OpenSans", "Arial", sans-serif;
$font-size-main: 15px;
$line-height-main: 24px;

$mobile-width: 320px;
$mobile-padding: 30px;
$tablet-width: 768px;
$tablet-padding: 50px;
$desktop-width: 1150px;
$desktop-padding: 50px;
